<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-attr-dir></app-attr-dir>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Custom Attribute Directive</h1><hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--<input type="text" sizer [size]="'200px'">-->

      <input type="text" [sizer]="'200px'">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" [sizer]="'100px'">
    </div>
  </div>
</div>