<div class="container">
    <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div id="legend">
                <legend class="">Data Driven - Register</legend>
            </div>
            <div>
                <div formGroupName="user">
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input formControlName="userName" type="text" id="username" name="username" placeholder="" class="input-xlarge">
                            <p class="help-block">{{myForm.controls.user.controls.userName.errors?.isValid}}</p>

                            <p class="help-block" *ngIf="myForm.controls.user.controls.userName.errors?.required">Please Enter Value</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            <input formControlName="email" type="text" id="email" name="email" placeholder="" class="input-xlarge">
                            <p class="help-block" *ngIf="!myForm.controls.user.controls.email.valid">Please provide your E-mail</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input formControlName="password" type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    <p class="help-block">Password should be at least 4 characters</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <label class="control-label" for="password_confirm">Password (Confirm)</label>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                    <p class="help-block">Please confirm password</p>
                </div>
            </div>

            <div class="control-group">
                <div class="controls" *ngFor="let city of cities">
                    <input type="radio" formControlName="city" [value]="city" />{{city}}
                </div>
                <p class="help-block">Your city</p>
            </div>

            <div class="control-group">
                <!-- Password -->
                <div class="controls">
                    <div formArrayName="names" *ngFor="let nm of myForm.controls.names.value; let i = index;">
                        <input type="text" [value]="nm" [formControlName]="i"/>
                    </div>
                    <input type="button" class="btn btn-primary" value="Add" (click)="onAdd()"/>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>
            </div>
        </fieldset>
    </form>
</div>